 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

body {
	//background-image: url("http://static.squarespace.com/static/51d25265e4b065321a7daf2e/t/51e3202ce4b0e2abc3eb1d1e/1373839404916/Beer-paddle.jpg");
}
	


.top-bar {
	background-color: hsla(35, 96%, 33%, 1.0);

}

.intro p {
  color: white;
  text-align: center;
  font-size: 200%;
}

.row {
  text-align: center;
  color: black;
}

.large-12 { 
  display: inline-block;
  text-align: center;
  font-size: 200%;
}

.Left {
  color: black;
  background: #E8E8CF;
  border-style: solid;
  border-color: black;
}
.Left h4 {
  color: black;
  text-align: center;

}

.Left p {
  color: black;
  float: left;
}

.Right {

  color: black;
  background: #E8E8CF;
  border-style: solid;
  border-color: black;

}

.Right h4 {
  color: black;
  text-align: center;
  
}

.Right p {
  color: black;  
  float: right;
}

.ng-scope {
  color: white;
}



.lists, .items {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
    font-size: 25px;
    border-left: 3px solid #000;
    display: block;
    padding-left: 15px;
    background-color: #E8E8CF;
    
  }

}




  