 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

body {
	background-image: url("http://static.squarespace.com/static/51d25265e4b065321a7daf2e/t/51e3202ce4b0e2abc3eb1d1e/1373839404916/Beer-paddle.jpg");
}
	


.top-bar {
	background-color: hsla(35, 96%, 33%, 1.0);

}

.small-3 {
	float: left;
	color: white;
	margin: 50 0 0 0;
}

.small-4 {
	float: right;
	color: white;
	margin: 50 0 0 0;

}