 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

body {
	background-image: url("http://static.squarespace.com/static/51d25265e4b065321a7daf2e/t/51e3202ce4b0e2abc3eb1d1e/1373839404916/Beer-paddle.jpg");
}
	


.top-bar {
	background-color: hsla(35, 96%, 33%, 1.0);

}

.intro p {
  color: white;
  text-align: center;
  font-size: 200%;
}

.row {
  text-align: center;
  color: black;

}

.header {
  background-color: #EB8E15;
}



.header h2 {
  color: white;
  border-style: solid;
  border-width: medium;

  
}

 .logoimg {
  display: block;
  height: 420px;
  width: 420px;
  margin-left: auto;
  margin-right: auto;

}



.large-12 { 
  display: inline-block;
  text-align: center;
  font-size: 200%;
  background-color: #F2E0AE;
}

.large-12 h2 {
  color: black;
  text-align: center;
  font-size: 200%;
}

.large-12 h3 {
  color: black;
}

.small-12 {
  margin-top: 100px;
}

.Left {
  color: black;
  background: #E8E8CF;
  border-style: solid;
  border-color: black;
}
.Left h4 {
  color: black;
  text-align: center;

}

.Left p {
  color: black;
  float: left;
}

.Right {

  color: black;
  background: #E8E8CF;
  border-style: solid;
  border-color: black;

}

.Right h4 {
  color: black;
  text-align: center;
  
}

.Right p {
  color: black;  
  float: right;
}

.ng-scope {
  color: white;
}

.ng-scope ul {
  border-style: solid;
  border-width: medium;
  border-color: black;
  
}

.ng-scope li {
  border-style: solid;
  border-width: thin medium thin medium;
  border-color: black;
}



.lists, .items {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
    font-size: 25px;
    border-color: 3px solid #000;
    display: block;
    padding-left: 15px;
    background-color: #E8E8CF;
    
  }

}

.singleBeer li {
  color: black;
  display: block;
  background-color: #E8E8CF;
  border-color: 3px solid #000;
  font-size: 25px;
  position: relative;

}

.singleBeer h3 {
  color: black;
}

h4 {
  color: black;
}

.singleBar li {
  color: black;
  display: block;
  background-color: #E8E8CF;
  border-color: 3px solid #000;
  font-size: 25px;
  position: relative;
}

.singleBar h3 {
  color: black;
}

.oneBeer h4 {
  color: black;
}

.footer .small-12 {
  text-align: center;
  width: 1000px;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: #E8E8CF;

}



  