<!doctype html>
<html ng-app="Beer411">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Beer411</title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="../bower_components/foundation/css/foundation.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>

     

        
        <div class="contain-to-grid">
             <nav class="top-bar" data-topbar>
              <ul class="title-area">
                <li class="name">
                  <h1>
                    <h1><a href="#/">Beer411</a></h1>
                  </h1>    
                </li>  
              </ul>
       
              <section class="top-bar-section">
             
                <ul class="right">
                  <li class="divider"></li>
                  <li class="nav-button"><a href="#/login">login</a></li>
                  <li class="divider"></li>
                  <li class="nav-button"><a href="#/register">register</a></li>
                  <li class="divider"></li>
                  <li class="nav-button"><a href="#/logout">logout</a></li>
                  <li class="divider"></li>
                </ul>
              </section>
            </nav>
        </div>


       <div class="container row">
          <div class="small-4 columns" ng-view></div>
       </div>
>
      <div class="row">
        <div class="small-12 columns">
            <div class="intro">
              <p>Welcome to Beer411</p>
                
            </div>
        
        <hr/>
        </div>
      </div>
      
     
     
      <div class="row">
        <div class="small-6 columns">
          <div class="Items">
            <h4>This is the item input field.</h4>
            <p>Here users can input their favorite beer to our ever growing list. Please note you have to follow the instructions on what to input as its language specific in some cases</p>
          </div>
        </div>
        
        <div class="small-6 columns" ng-view>
          <div class="Lists">
            <h4>List view</h4>
              <ul class="button-group even-2">
                <li><a href="#" ng-click="getLists" class="button success">Beer List</a></li>
                <li><a href="#" ng-click="getLists" class="button alert">Bar List</a></li>
                <p>Hit the search buttons to view our list of Beers and Bars. If there is a beer or bar you would like to add please see the item input field</p>
              </ul>
          </div>
        </div>
        
     
    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>Filler</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>blah blah blah</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
       
      
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div> 
      </footer>
              
       
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/foundation/js/foundation.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
   
   
    
    <script src="scripts/users/user.controller.js"></script>
    <script src="scripts/users/user.factory.js"></script>
    
    

    <script src="scripts/lists/lists.controller.js"></script>
    <script src="scripts/lists/lists.factory.js"></script>

    <!--<script src="scripts/items/items.controller.js"></script>
    <script src="scripts/items/items.factory.js"></script>
    <!-- endbuild -->


</body>
</html>