<h2>Add New Beer</h2>
<form ng-submit="addItem(item)">
  	<div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.name" type="text" placeholder="Beer Name">
          <button<Add Item></button>
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.flavor_profile1" type="text" placeholder="Hoppy">
          <button<Add Item></button>
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.flavor_profile2" type="text" placeholder="Delicious">
           <button<Add Item></button>
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.flavor_profile3" type="text" placeholder="Fruity">
          <button<Add Item></button>
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.flavor_profile4" type="text" placeholder="Refreshing">
          <button<Add Item></button>
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.flavor_profile5" type="text" placeholder="Tasty">
          <button<Add Item></button>
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.description" type="text" placeholder="Description">
          <button<Add Item></button>
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.kind" type="text" placeholder="Beer Type">
          <button<Add Item></button>
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.brewery" type="text" placeholder="Brewery">
          <button<Add Item></button>
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Label</label>
        </div>
        <div class="small-9 columns">
          <input ng-model="item.abv" type="text" placeholder="abv">
          <button<Add Item></button>
        </div>
        <button<Add Item></button>


      </div>
    </div>
  </div>
  <button>Add Item</button>
</form>